# Django
DJANGO_SECRET_KEY=sua_chave_secreta_forte_aqui
DJANGO_DEBUG=True  # Mude para False em produção
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL/Supabase (Transaction Pooler - sa-east-1)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres.seu_project_ref_aqui
DB_PASSWORD=sua_senha_forte_aqui
DB_HOST=aws-0-sa-east-1.pooler.supabase.com
DB_PORT=6543
